<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LZQWAF</title>
        <link rel="shortcut icon" href="static/assets/img/tb.ico">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="static/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">LZQWAF</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">主控面板</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                                主页
                            </a>
                            <div class="sb-sidenav-menu-heading">核心面板</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                规则管理
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/url_rules_manage">URL规则</a>
                                    <a class="nav-link" href="/get_rules_manage">GET规则</a>
                                    <a class="nav-link" href="/post_rules_manage">POST规则</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-line"></i></div>
                                统计分析
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/rank/attack">攻击源排行</a>
                                    <a class="nav-link" href="/rank/type">攻击方式排行</a>
                                    <a class="nav-link" href="/rank/url">URL分析统计</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#jbcz" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-bars"></i></div>
                                基本操作
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="jbcz" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/ip_prohibit">IP黑名单</a>
                                    <a class="nav-link" href="/service_set">服务器参数</a>
                                    <a class="nav-link" href="/database_set">数据库参数</a>
                                    <a class="nav-link" href="/illegal_ask_set">CC参数</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">日志查看</div>
                            <a class="nav-link" href="/logs/pass">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-clock"></i></div>
                                放行日志
                            </a>
                            <a class="nav-link" href="/logs/block">
                                <div class="sb-nav-link-icon"><i class="fa-brands fa-hackerrank"></i></div>
                                拦截日志
                            </a>
                             <a class="nav-link" href="/logs/error">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-bug"></i></div>
                                程序错误日志
                            </a>
                            <a class="nav-link" href="/logs/user_operate">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></i></div>
                                用户操作日志
                            </a>
                        </div>
                    </div>

                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">主页</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Home</li>
                        </ol>
                         <div class="card mb-4" id="haha">
                            <div class="card-body">
                                WEB应用防火墙----LZQWAF.保护WEB服务器防止遭受SQL注入、XSS、恶意文件包含等等<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                LZQWAF包含以下模块:1、规则解析。2、过滤。3、动作判断、4日志等
                            </div>
                        </div>
                        <div class="row" style="margin-top:30px">
                            <div class="col-xl-6">
                                <div class="mb-4">
                                    <input type='checkbox' checked id="main_switch" name='mycheck'>
                                    <button type="button" id='b1' class="btn btn-info" style="height:50px" >清空放行日志</button>
                                    <button type="button" id='b2' class="btn btn-info" style="height:50px">清空拦截日志</button>
                                    <button type="button" id='b3' class="btn btn-info" style="height:50px">清空错误日志</button>
                                    <button type="button" id='b4' class="btn btn-info" style="height:50px">清空用户操作日志</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div id="main2" style="width:100%;height:450px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div id="main" style="width:100%;height:450px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


<!--                        echarts图表-->


                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">LZQWAF &copy; Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="static/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="static/js/index.js"></script>
        <script src="static/js/echarts.js"  type="text/javascript"></script>
        <script src='static/js/echarts_demo.js'></script>
    </body>
</html>
